<script src="content/js/progressbar.min.js"></script>
<script src="content/js/custom-progressbar.js"></script>
<div id="QueueController" ng-controller="QueueController"></div>

<div class="content-header">
    <div class="title">
    Queues
    </div>
    <div class="control-button">
        <button class="navigation-btn" ui-sref="queue.new" style="float:left;">
                    <span class="glyphicon glyphicon-plus"></span> <span>Import Patient</span>
                </button>
        <button class="navigation-btn" ui-sref="queue.newpatient" style="float:left;">
                    <span class="glyphicon glyphicon-user"></span> <span>Create Patient</span>
                </button>
        <button class="navigation-btn" ui-sref="queue.history" style="float:left;">
                    <span class="glyphicon glyphicon-header"></span> <span>Today's History</span>
                </button>
    </div>

</div>

<div class="content-content-wrapper">
    <div id="content-sidebar">
        <div id="content-sidebar-title">
        LIST OF QUEUES
        </div>
        <ui class="sidebar-connectedSortable">
            <li ng-repeat="team in teams" >
                <div class="my-progress-bar" id={{team.progressbarid}}></div>
                <div class="queue-title"><p>{{team.name}}</p></div>
                {{activateProgressBar(team.progressbarid, team.occupation, team.progressbarText)}}
            </li>
        </ui>
        <div id="content-sidebar-title">
            POTENTIAL DISCHARGED PATIENTS
        </div>
        <table class="" style="width: 100%; border-collapse: collapse;">
            <thead class="dischargedQueueTable-head">
                <tr>
                    <th style="width: 2%">Recover</th>
                    <th style="width: 10%">MRID</th>
                    <th style="width: 10%">Name</th>
                    <th style="width: 2%">Delete</th>
                </tr>
            </thead>
            <tbody class="connectedSortable dischargedQueueTable"  id="potentialdischarge">
                <tr ng-repeat="potentialDischargedPatient in arrayPotentialDischargedPatient" id="potentialdischarge-tr">
                    <td style="width: 2%" ><button type="submit"
                                ng-click="recoverFromPotentialDischarge(potentialDischargedPatient.id)"><span class="glyphicon glyphicon-circle-arrow-left"></span></button></td>
                    <td style="width: 10%" >{{potentialDischargedPatient.patient.medicalReferralId}}</td>
                    <td style="width: 10%">{{potentialDischargedPatient.patient.name}}</td>
                    <td style="width: 2%"><button type="submit"
                                ng-click="removeFromPotentialDischarge(potentialDischargedPatient.id)"><span class="glyphicon glyphicon-log-in"></span></button></td>
                </tr>
            </tbody>
        </table>


        <div id="content-sidebar-title">
            INCOMING PATIENTS
        </div>
        <table class="" style="width: 100%; border-collapse: collapse;">
            <thead class="dischargedQueueTable-head">
                <tr>
                    <th style="width: 10%">MRID</th>
                    <th style="width: 10%">Name</th>
                    <th style="width: 10%">Priority</th>
                    <th style="width: 2%">Source</th>
                    <th style="width: 2%">Add</th>
                </tr>
            </thead>
            <tbody class="connectedSortable dischargedQueueTable"  id="potentialdischarge">
                <tr ng-repeat="incomingPatient in arrayIncomingPatient" id="potentialdischarge-tr">
                    <td style="width: 10%">{{incomingPatient.patient.medicalReferralId}}</td>
                    <td style="width: 10%">{{incomingPatient.patient.name}}</td>
                    <td style="width: 2%">{{incomingPatient.patient.priority}}</td>
                    <td style="width: 2%">{{incomingPatient.patient.referralSource.name}}</td>
                    <td style="width: 2%"><button ui-sref="queue.new">
                    <span class="glyphicon glyphicon-plus"></span></button></td>
                </tr>
            </tbody>
        </table>




        <!-- <ui class="sidebar-connectedSortable connectedSortable" id="potentialdischarge">
            <li ng-repeat="potentialDischargedPatient in arrayPotentialDischargedPatient">
                abc
            </li>
        </ui> -->
    </div>

    <div id="content-main">
        
        <div class="popup-container"  ng-show="popoverIsVisible" >
            <div class="central-popup" ng-show="popoverIsVisible" >{{popupContent}}</div>
        </div>

        <div gridster="gridsterOpts">
            <ul class="queue">
                <li gridster-item="item" ng-repeat="item in standardItems" style="background-color: white">
                    <div class="queue-content">
                        <div class="container" style="width: 100%">
                        <!-- <p class="queue-title" ng-mouseover="showPopover(teams[arrayPatientTeam.indexOf(patientTeam)])" ng-mouseleave="hidePopover()">{{teams[arrayPatientTeam.indexOf(patientTeam)].name}}</p> -->
                        <p>
                            <span class="queue-title">{{teams[$index].name}}</span>
                            <span class="title-button" ng-mouseover="showPopover_team(teams[$index])" ng-mouseleave="hidePopover()">Details</span>
                            <span class="title-button" ui-sref="team-detail({id:teams[$index].id})">History</span>
                        </p>
                        <table style="width: 100%; border-collapse: collapse;">
                            <thead class="connectedSortable-head" ng-switch on="teams[$index].name">
                                <tr>
                                    <th ng-switch-when="Outside hospital - request for transfer" style="width: 10%">Timer</th>
                                    <th ng-switch-when="Outside hospital - in transit" style="width: 10%">Countdown</th>
                                    <th style="width: 10%">MRID</th>
                                    <th style="width: 10%">Name</th>
                                    <th style="width: 10%">Edit</th>
                                </tr>
                            </thead>
                            <tbody  id={{teams[$index].id}} class="connectedSortable queueTable">
                                <tr ng-repeat="patientItem in arrayPatientTeam[$index]" id={{patientItem.id}} ng-switch on="teams[$index].name" ng-class="{0:'default', 1:'grayout'}[patientItem.status]">
                                    <td ng-switch-when="Outside hospital - request for transfer" style="width: 10%"><timer start-time="patientItem.timestampSince">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                    </td>
                                    <td ng-switch-when="Outside hospital - in transit" style="width: 10%"><div ng-show="patientItem.timestampDue <= 0"></div> <div ng-show="patientItem.timestampDue > 0"><timer end-time="patientItem.timestampDue">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                    </td>
                                    <td style="width: 106px">{{patientItem.patient.medicalReferralId}}</td>
                                    <td style="width: 107px" id="name"><a ui-sref="patient-detail({id:patientItem.id})">{{patientItem.patient.name}}<span id="onHover">Name: {{patientItem.patient.name}} <br>Priority: {{patientItem.patient.priority}}</span></a></td>
                                    <td style="width: 107px"><a ui-sref="patient.edit({id:patientItem.id})">Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <script src="content/js/custom-queue.js"></script>
            </ul>
        </div>



              <!--<div class="row">
               <div class="col-sm-4 queue"  ng-repeat="patientTeam in arrayPatientTeam" ng-init="$last && activateJQueryUI( )">
                    <div class="queue-content">
                        <p>
                            <span class="queue-title">{{teams[arrayPatientTeam.indexOf(patientTeam)].name}}</span>
                            <span class="title-button" ng-mouseover="showPopover_team(teams[arrayPatientTeam.indexOf(patientTeam)])" ng-mouseleave="hidePopover()">Details</span>
                            <span class="title-button" ui-sref="team-detail({id:teams[arrayPatientTeam.indexOf(patientTeam)].id})">History</span>
                        </p>
                        <table style="width: 100%; border-collapse: collapse;">
                            <thead class="connectedSortable-head" ng-switch on="teams[arrayPatientTeam.indexOf(patientTeam)].name">
                                <tr>
                                    <th ng-switch-when="Outside hospital - request for transfer" style="width: 10%">Timer</th>
                                    <th ng-switch-when="Outside hospital - in transit" style="width: 10%">Countdown</th>
                                    <th style="width: 10%">MRID</th>
                                    <th style="width: 10%">Name</th>
                                    <th style="width: 10%">Edit</th>
                                </tr>
                            </thead>
                            <tbody  id={{teams[arrayPatientTeam.indexOf(patientTeam)].id}} class="connectedSortable queueTable">
                                <tr ng-repeat="patientItem in patientTeam" id={{patientItem.id}} ng-switch on="teams[arrayPatientTeam.indexOf(patientTeam)].name" ng-class="{0:'default', 1:'grayout'}[patientItem.status]">
                                    <td ng-switch-when="Outside hospital - request for transfer" style="width: 10%"><timer start-time="patientItem.timestampSince">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                    </td>
                                    <td ng-switch-when="Outside hospital - in transit" style="width: 10%"><div ng-show="patientItem.timestampDue <= 0"></div> <div ng-show="patientItem.timestampDue > 0"><timer end-time="patientItem.timestampDue">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                    </td>
                                    <td style="width: 106px">{{patientItem.patient.medicalReferralId}}</td>
                                    <td style="width: 107px" id="name"><a ui-sref="patient-detail({id:patientItem.id})">{{patientItem.patient.name}}<span id="onHover">Name: {{patientItem.patient.name}} <br>Priority: {{patientItem.patient.priority}}</span></a></td>
                                    <td style="width: 107px"><a ui-sref="patient.edit({id:patientItem.id})">Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div> -->
        </div>
    </div>

</div>
